//TODO: Header

#main {
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
}

.backgraund__image {
  position: absolute;
  height: 600px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  @media (min-width: $display-sm) {
    height: 1024px;
  }
  @media (min-width: $display-smd) {
    height: 768px;
  }
  @media (min-width: $display-md) {
    height: 799px;
  }
  @media (min-width: $display-bg) {
    height: 1000px;
  }
}

.header {
  position: relative;
  z-index: 1;
  width: 100%;
  display: grid;
  grid-template-areas:
    "contacts contacts contacts"
    "logo . menu"
    "greating greating greating";
  grid-template-columns: auto 1fr auto;
  @media (min-width: $display-sm) {
    grid-template-areas:
      "contacts"
      "logo"
      "menu"
      "greating";
    grid-template-columns: unset;
  }
  @media (min-width: $display-smd) {
    grid-template-areas:
      "logo . contacts"
      "logo . menu"
      "greating greating greating";
    grid-template-columns: auto 1fr auto;
  }
}

.lang_conteiner__btn {
  font-family: "Montserrat", sans-serif;
  display: inline-flex;
  width: 33px;
  height: 25px;
  align-items: center;
  justify-content: center;
  border: 0;
  background: transparent;
  font-weight: 700;
  font-size: 12px;
  color: $color-text;
  text-transform: uppercase;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.lang_conteiner__btn_active {
  background: $link-active-color;
  border-radius: 8px;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background: $bg-header-contacts;
  grid-area: contacts;
  @media (min-width: $display-sm) {
    background: none;
    padding: 50px 60px 30px;
    justify-content: start;
  }
  @media (min-width: $display-smd) {
    width: 490px;
    padding-bottom: 30px;
    justify-content: end;
  }
  @media (min-width: $display-bg) {
    padding-right: 160px;
  }
}

.dot_separator {
  background: $color-text;
  width: 6px;
  height: 6px;
  border-radius: 360px;
  display: none;
  @media (min-width: $display-sm) {
    display: inline-block;
    margin: 0 6px;
  }
}

.address {
  display: none;
  @media (min-width: $display-sm) {
    display: inline-block;
    font-size: 16px;
  }
}

.phone {
  font-weight: 700;
  font-size: 16px;
  justify-content: flex-end;
}

.social_media {
  display: none;
  @media (min-width: $display-sm) {
    display: inline-block;
  }
}

.logo {
  display: none;
  @media (min-width: $display-sm) {
    grid-area: logo;
    display: inline-block;
    padding-left: 60px;
    padding-bottom: 30px;
  }
  @media (min-width: $display-smd) {
    padding-left: 60px;
    padding-top: 50px;
  }
  @media (min-width: $display-bg) {
    padding-left: 160px;
  }
}

.logo_sm {
  grid-area: logo;
  padding-left: 15px;
  @media (min-width: $display-sm) {
    display: none;
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: menu;
  @media (min-width: $display-sm) {
    display: inline-block;
  }
}

.burger_menu {
  width: 32px;
  border: 0;
  background: none;
  padding: 0;
  margin-right: 15px;
  &:hover,
  &:focus {
    cursor: pointer;
  }
  @media (min-width: $display-sm) {
    display: none;
  }
}

.burger_menu__item {
  border: solid 1px $color-text;
  margin: 6px 0;
  width: 24px;
  cursor: pointer;
}

.nav_menu {
  display: none;
  @media (min-width: $display-sm) {
    display: flex;
    padding-left: 60px;
    li {
      margin-right: 15px;
    }
  }
  @media (min-width: $display-smd) {
    justify-content: end;
    padding-right: 45px;
  }
  @media (min-width: $display-bg) {
    padding-right: 145px;
  }
}

//TODO: Greating

.section__greating {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 129px 0 30px;
  grid-area: greating;
  width: 100%;
  @media (min-width: $display-sm) {
    padding-top: 269px;
  }
  @media (min-width: $display-smd) {
    padding-top: 210px;
  }
  @media (min-width: $display-md) {
    padding-top: 230px;
  }
  @media (min-width: $display-bg) {
    padding-top: 340px;
  }
}

.title__greating {
  font-weight: 700;
  font-size: 38px;
  color: $color-text;
  text-align: center;
  margin: 0;
  width: 206px;
  grid-area: greating_title;
  @media (min-width: $display-sm) {
    width: 100%;
  }
}

.scroll_button {
  margin-top: 159px;
  width: 42px;
  height: 42px;
  background: none;
  border: 0;

  &:hover,
  &:focus {
    cursor: pointer;
    .svg__circle,
    .svg__path {
      stroke: #f0145a;
    }
  }
  @media (min-width: $display-sm) {
    margin-top: 422px;
  }
  @media (min-width: $display-smd) {
    margin-top: 300px;
  }
  @media (min-width: $display-md) {
    margin-top: 310px;
  }
  @media (min-width: $display-bg) {
    margin-top: 405px;
  }
}

//TODO: Navigation

.section__navigation {
  @media (min-width: $display-smd) {
    display: flex;
    padding: 60px 0;
  }
  @media (min-width: $display-md) {
    padding-left: 120px;
    padding-right: 120px;
  }
  @media (min-width: $display-bg) {
    padding-left: 220px;
    padding-right: 220px;
  }
}

.conteiner__navigation {
  display: grid;
  grid-auto-flow: dense;
  overflow-x: auto;
  gap: 10px;
  padding: 30px;
  &::-webkit-scrollbar {
    display: none;
  }
  @media (min-width: $display-sm) {
    padding: 60px;
  }
  @media (min-width: $display-smd) {
    overflow-x: visible;
    padding: 14px 60px;
  }
}

.wraper__navigation {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: calc(100% + 13px);
    height: calc(100% + 13px);
  }
}

.navigation {
  display: flex;
  position: relative;
  width: 100%;
  padding: 0;

  @media (min-width: $display-smd) {
    flex-direction: column;
    align-items: end;
  }
}

.navigation_item {
  margin-right: 30px;
  height: 100%;
  object-fit: cover;

  a {
    font-weight: 700;
    font-size: 30px;
    color: $color-navigation-text;
    white-space: nowrap;
    &:hover {
      color: $link-active-color;
    }
    @media (min-width: $display-sm) {
      font-size: 38px;
    }
  }
  @media (min-width: $display-smd) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.navigation_item__active {
  background: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.rectangle_line__vertical {
  display: none;
  width: 0px;
  height: 303px;
  border: 2px solid $color-line;
  background: $color-line;
  @media (min-width: $display-smd) {
    display: block;
  }
}

.rectangle_line__horizontal {
  min-width: 315px;
  height: 4px;
  background: $color-line;
  margin: 0 30px;
  @media (min-width: $display-smd) {
    display: none;
  }
}

.section__navigation_about_us {
  padding: 30px;
  color: $color-text;
  @media (min-width: $display-sm) {
    padding: 60px;
  }
  @media (min-width: $display-smd) {
    padding: 9px 60px;
  }
  @media (min-width: $display-md) {
    padding: 43px 60px;
  }
  @media (min-width: $display-bg) {
    padding: 73px 60px;
  }
}

.navigation_about_us_title {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  @media (min-width: $display-sm) {
    font-size: 30px;
  }
}

.navigation_about_us_paragraf {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 0;
}

// TODO: Services
.container__servises {
  padding-left: 30px;
  padding-right: 30px;
  @media (min-width: $display-sm) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
  }
  @media (min-width: $display-bg) {
    padding-left: 160px;
    padding-right: 160px;
  }
}

.services__link {
  display: inline-block;
  margin-bottom: 10px;
  color: $color-services-title;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.section__services_title {
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  @media (min-width: $display-sm) {
    font-size: 38px;
  }
}

.services__wrapper {
  @media (min-width: $display-sm) {
    display: flex;
    flex-wrap: wrap;
  }
}

.services__item {
  @media (min-width: $display-sm) {
    width: 45%;
    margin-right: 60px;
  }
  @media (min-width: $display-smd) {
    width: 28%;
    margin-right: 60px;
  }
  @media (min-width: $display-md) {
    width: 30%;
    margin-right: 60px;
  }
  &_second {
    @media (min-width: $display-sm) {
      margin-right: 0px;
    }
  }
  @media (min-width: $display-smd) {
    margin-right: 60px;
  }
  &_third {
    @media (min-width: $display-smd) {
      margin-right: 0px;
    }
    @media (min-width: $display-bg) {
      width: 31%;
    }
  }
}

.services__img {
  width: 92px;
  height: 92px;
  background: $color-text;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  margin: 30px 0;
  img {
    margin: 0;
    width: 64px;
    height: 64px;
  }
}

.services_title {
  color: $color-services-title;
  font-weight: 700;
  font-size: 22px;
}

.servises_paragraf {
  color: $color-text;
  font-size: 16px;
  line-height: 1.6;
}

// TODO: Shadow
.firs_shadow{
  background: $color-first-shadow;
  height: 10px;
  min-width: 335px;
  margin: 0 20px;
  border-radius: 0px 0px 12px 12px;
}

.second_shadow{ 
  background: $color-second-shadow;
  height: 10px;
  min-width: 295px;
  margin: 0 40px;
  border-radius: 0px 0px 12px 12px;
}




.person {
  margin-top: 100px;
}
