// color
$bg-header-contacts:              rgba(245, 245, 250, 0.2);
$color-line:                      rgba(255, 255, 255, 0.3);
$color-text:                      #FFFFFF;
$link-active-color:               #F0145A;
$color-navigation-text:           #B3B3BA;
$color-services-title:            #24A3FF;
$color-first-shadow:              #CACADB;
$color-second-shadow:             #E7E7F2;
$color-team-section:              #F5F5FA;
$color-team-text:                 #B3B3BA;
$color-clients-title:         #323264;

// display
$display-sm:                      768px;
$display-smd:                     1024px;
$display-md:                      1440px;
$display-bg:                      1920px;