@import "../assets/variables.scss";

//TODO: Team section
.section__team {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
  @media (min-width: $display-bg) {
    padding-bottom: 0px;
  }
}
.person {
  display: flex;
  flex-direction: column;
  padding: 30px;
  @media (min-width: $display-sm) {
    padding: 60px 60px 30px;
  }
  @media (min-width: $display-smd) {
    flex-direction: row;
  }
  @media (min-width: $display-bg) {
    padding-left: 160px;
    padding-right: 160px;
  }
}

.person_img {
  @media (min-width: $display-sm) {
    display: none;
  }
}

.person_img_sm {
  display: none;
  @media (min-width: $display-sm) {
    display: inline-block;
  }
  @media (min-width: $display-smd) {
    display: none;
  }
}

.person_img_smd {
  display: none;
  @media (min-width: $display-smd) {
    display: inline-block;
  }
  @media (min-width: $display-md) {
    display: none;
  }
}

.person_img_md {
  display: none;
  @media (min-width: $display-md) {
    display: inline-block;
  }
}

.person__info {
  background-color: $color-bg-section;
  border-radius: 0 0 12px 12px;
  padding: 30px 22px;
  @media (min-width: $display-smd) {
    border-radius: 0 12px 12px 0;
  }
  @media (min-width: $display-md) {
    padding-right: 70px;
  }
}

.section__title_team {
  font-size: 30px;
  margin-top: 5px;
  @media (min-width: $display-sm) {
    font-size: 38px;
  }
}

.name {
  font-weight: 700;
  font-size: 16px;
  color: $color-section-text;
  margin: 30px 115px 6px 0;
}

.job-title {
  margin: 0;
  font-size: 14px;
  line-height: 1.57;
  color: $color-section-text;
}