@import "../assets/variables.scss";

// TODO: Shadow
.firs_shadow {
  background: $color-first-shadow;
  height: 10px;
  min-width: 335px;
  margin: 0 20px;
  border-radius: 0px 0px 12px 12px;
}

.second_shadow {
  background: $color-second-shadow;
  height: 10px;
  min-width: 295px;
  margin: 0 40px;
  border-radius: 0px 0px 12px 12px;
}