@import "../body/variables.scss";

// TODO: Slide bolls
.slide_bolls {
  display: flex;
  justify-content: center;
  &_team {
    @media (min-width: $display-bg) {
      display: none;
    }
  }
  &_about {
    display: none;
    @media (min-width: $display-bg) {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 60px;
    }
  }
}

.slide_boll {
  width: 16px;
  height: 16px;
  opacity: 0.2;
  border-radius: 360px;
  border: none;
  background: $color-section-brand;
  cursor: pointer;
  margin-right: 15px;
  &:hover,
  &_active {
    opacity: 1;
  }
}