#main {
  position: relative;
  overflow: hidden;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  border-radius: 0px 0px 12px 12px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  #main {
    padding-bottom: 0;
  }
}

.backgraund__image {
  position: absolute;
  height: 600px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .backgraund__image {
    height: 1024px;
  }
}
@media (min-width: 1024px) {
  .backgraund__image {
    height: 768px;
  }
}
@media (min-width: 1440px) {
  .backgraund__image {
    height: 799px;
  }
}
@media (min-width: 1920px) {
  .backgraund__image {
    height: 1000px;
  }
}

.header {
  position: relative;
  z-index: 1;
  width: 100%;
  display: grid;
  grid-template-areas: "contacts contacts contacts" "logo . menu" "greating greating greating";
  grid-template-columns: auto 1fr auto;
}
@media (min-width: 768px) {
  .header {
    grid-template-areas: "contacts" "logo" "menu" "greating";
    grid-template-columns: unset;
  }
}
@media (min-width: 1024px) {
  .header {
    grid-template-areas: "logo . contacts" "logo . menu" "greating greating greating";
    grid-template-columns: auto 1fr auto;
  }
}

.lang_conteiner__btn {
  font-family: "Montserrat", sans-serif;
  display: inline-flex;
  width: 33px;
  height: 25px;
  align-items: center;
  justify-content: center;
  border: 0;
  background: transparent;
  font-weight: 700;
  font-size: 12px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.lang_conteiner__btn:hover, .lang_conteiner__btn:focus {
  cursor: pointer;
}

.lang_conteiner__btn_active {
  background: #F0145A;
  border-radius: 8px;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background: rgba(245, 245, 250, 0.2);
  grid-area: contacts;
}
@media (min-width: 768px) {
  .contacts {
    background: none;
    padding: 50px 60px 30px;
    justify-content: start;
  }
}
@media (min-width: 1024px) {
  .contacts {
    width: 490px;
    padding-bottom: 30px;
    justify-content: end;
  }
}
@media (min-width: 1920px) {
  .contacts {
    padding-right: 160px;
  }
}

.dot_separator {
  background: #FFFFFF;
  width: 6px;
  height: 6px;
  border-radius: 360px;
  display: none;
}
@media (min-width: 768px) {
  .dot_separator {
    display: inline-block;
    margin: 0 6px;
  }
}

.address {
  display: none;
}
@media (min-width: 768px) {
  .address {
    display: inline-block;
    font-size: 16px;
  }
}

.phone {
  font-weight: 700;
  font-size: 16px;
  justify-content: flex-end;
}

.social_media {
  display: none;
}
@media (min-width: 768px) {
  .social_media {
    display: inline-block;
  }
}

.logo {
  display: none;
}
@media (min-width: 768px) {
  .logo {
    grid-area: logo;
    display: inline-block;
    padding-left: 60px;
    padding-bottom: 30px;
  }
}
@media (min-width: 1024px) {
  .logo {
    padding-left: 60px;
    padding-top: 50px;
  }
}
@media (min-width: 1920px) {
  .logo {
    padding-left: 160px;
  }
}

.logo_sm {
  grid-area: logo;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .logo_sm {
    display: none;
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: menu;
}
@media (min-width: 768px) {
  .menu {
    display: inline-block;
  }
}

.burger_menu {
  width: 32px;
  border: 0;
  background: none;
  padding: 0;
  margin-right: 15px;
}
.burger_menu:hover, .burger_menu:focus {
  cursor: pointer;
}
@media (min-width: 768px) {
  .burger_menu {
    display: none;
  }
}

.burger_menu__item {
  border: solid 1px #FFFFFF;
  margin: 6px 0;
  width: 24px;
  cursor: pointer;
}

.nav_menu {
  display: none;
}
@media (min-width: 768px) {
  .nav_menu {
    display: flex;
    padding-left: 60px;
  }
  .nav_menu li {
    margin-right: 15px;
  }
}
@media (min-width: 1024px) {
  .nav_menu {
    justify-content: end;
    padding-right: 45px;
  }
}
@media (min-width: 1920px) {
  .nav_menu {
    padding-right: 145px;
  }
}

.navigation__menu {
  font-weight: 700;
  font-size: 16px;
}
.navigation__menu:hover, .navigation__menu:focus {
  color: #F0145A;
  border-bottom: 3px solid #F0145A;
  padding-bottom: 3px;
}

.section__greating {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 129px 0 30px;
  grid-area: greating;
  width: 100%;
}
@media (min-width: 768px) {
  .section__greating {
    padding-top: 269px;
  }
}
@media (min-width: 1024px) {
  .section__greating {
    padding-top: 210px;
  }
}
@media (min-width: 1440px) {
  .section__greating {
    padding-top: 230px;
  }
}
@media (min-width: 1920px) {
  .section__greating {
    padding-top: 340px;
  }
}

.title__greating {
  font-weight: 700;
  font-size: 38px;
  color: #FFFFFF;
  text-align: center;
  margin: 0 85px;
  min-width: 206px;
  grid-area: greating_title;
}
@media (min-width: 768px) {
  .title__greating {
    width: 100%;
  }
}

.scroll_button {
  margin-top: 159px;
  width: 42px;
  height: 42px;
  background: none;
  border: 0;
}
.scroll_button:hover, .scroll_button:focus {
  cursor: pointer;
}
.scroll_button:hover .svg__circle,
.scroll_button:hover .svg__path, .scroll_button:focus .svg__circle,
.scroll_button:focus .svg__path {
  stroke: #f0145a;
}
@media (min-width: 768px) {
  .scroll_button {
    margin-top: 422px;
  }
}
@media (min-width: 1024px) {
  .scroll_button {
    margin-top: 300px;
  }
}
@media (min-width: 1440px) {
  .scroll_button {
    margin-top: 310px;
  }
}
@media (min-width: 1920px) {
  .scroll_button {
    margin-top: 405px;
  }
}

@media (min-width: 1024px) {
  .section__navigation {
    display: flex;
    padding: 60px 0;
  }
}
@media (min-width: 1440px) {
  .section__navigation {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media (min-width: 1920px) {
  .section__navigation {
    padding-left: 220px;
    padding-right: 220px;
  }
}

.conteiner__navigation {
  display: grid;
  grid-auto-flow: auto;
  overflow-x: auto;
  gap: 10px;
  padding: 30px;
}
.conteiner__navigation::-webkit-scrollbar {
  display: none;
}
@media (min-width: 768px) {
  .conteiner__navigation {
    padding: 60px;
  }
}
@media (min-width: 1024px) {
  .conteiner__navigation {
    overflow-x: visible;
    padding: 14px 60px;
  }
}

.wraper__navigation::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: calc(100% + 13px);
  height: calc(100% + 13px);
}

.navigation {
  display: flex;
  position: relative;
  width: 100%;
  padding: 0;
}
@media (min-width: 1024px) {
  .navigation {
    flex-direction: column;
    align-items: end;
  }
}

.navigation_item {
  margin-right: 30px;
  height: 100%;
  object-fit: cover;
}
.navigation_item a {
  font-weight: 700;
  font-size: 30px;
  color: #B3B3BA;
  white-space: nowrap;
}
.navigation_item a:hover {
  color: #F0145A;
}
@media (min-width: 768px) {
  .navigation_item a {
    font-size: 38px;
  }
}
@media (min-width: 1024px) {
  .navigation_item {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.navigation_item__active {
  background: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.rectangle_line__vertical {
  display: none;
  width: 0px;
  height: 303px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.3);
}
@media (min-width: 1024px) {
  .rectangle_line__vertical {
    display: block;
  }
}

.rectangle_line__horizontal {
  min-width: 315px;
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 30px;
}
@media (min-width: 1024px) {
  .rectangle_line__horizontal {
    display: none;
  }
}

.section__navigation_about_us {
  padding: 30px;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .section__navigation_about_us {
    padding: 60px;
  }
}
@media (min-width: 1024px) {
  .section__navigation_about_us {
    padding: 9px 60px;
  }
}
@media (min-width: 1440px) {
  .section__navigation_about_us {
    padding: 43px 60px;
  }
}
@media (min-width: 1920px) {
  .section__navigation_about_us {
    padding: 73px 60px;
  }
}

.navigation_about_us_title {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}
@media (min-width: 768px) {
  .navigation_about_us_title {
    font-size: 30px;
  }
}

.navigation_about_us_paragraf {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 0;
}

.container__servises {
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 768px) {
  .container__servises {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1920px) {
  .container__servises {
    padding-left: 160px;
    padding-right: 160px;
  }
}

.section__link {
  display: flex;
  align-items: center;
  color: #24A3FF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin: 0;
  height: 17px;
  letter-spacing: 1px;
}
.section__link:hover .section__link_arow {
  stroke: #F0145A;
}

.section__title {
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 10px 0 0;
  font-weight: 700;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .section__title {
    font-size: 38px;
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .services__wrapper {
    display: flex;
    flex-wrap: wrap;
    min-width: 648px;
  }
}
@media (min-width: 1024px) {
  .services__wrapper {
    min-width: 904px;
  }
}

.services__item {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .services__item {
    width: calc(50% - 30px);
    margin-right: 60px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1024px) {
  .services__item {
    width: calc(33.33% - 40px);
    margin-right: 60px;
  }
}
@media (min-width: 768px) {
  .services__item:nth-of-type(2), .services__item:nth-of-type(4), .services__item:nth-of-type(6) {
    margin-right: 0px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1024px) {
  .services__item:nth-of-type(2), .services__item:nth-of-type(4) {
    margin-right: 60px;
  }
}
@media (min-width: 1024px) {
  .services__item:nth-of-type(3) {
    margin-right: 0;
  }
}

.services__img {
  width: 92px;
  height: 92px;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  margin: 0 0 30px;
}
.services__img img {
  margin: 0;
  width: 64px;
  height: 64px;
}

.services_title {
  color: #24A3FF;
  font-weight: 700;
  font-size: 22px;
}
.services_title:hover {
  color: #F0145A;
}

.servises_paragraf {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
}

.firs_shadow {
  background: #CACADB;
  height: 10px;
  min-width: 335px;
  margin: 0 20px;
  border-radius: 0px 0px 12px 12px;
}

.second_shadow {
  background: #E7E7F2;
  height: 10px;
  min-width: 295px;
  margin: 0 40px;
  border-radius: 0px 0px 12px 12px;
}

.section__team {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
  overflow: hidden;
}
@media (min-width: 1920px) {
  .section__team {
    padding-bottom: 0px;
  }
}

.person {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
@media (min-width: 768px) {
  .person {
    padding: 60px 60px 30px;
  }
}
@media (min-width: 1024px) {
  .person {
    flex-direction: row;
  }
}
@media (min-width: 1920px) {
  .person {
    padding-left: 160px;
    padding-right: 160px;
  }
}

.person_bg {
  background-image: url("../../images/jpg/person-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 500px;
  border-radius: 12px 12px 0 0;
  background-size: cover;
}
@media (min-width: 1024px) {
  .person_bg {
    min-width: 400px;
    border-radius: 12px 0 0 12px;
  }
}
@media (min-width: 1440px) {
  .person_bg {
    min-height: 324px;
  }
}

.person__info {
  background-color: #F5F5FA;
  border-radius: 0 0 12px 12px;
  padding: 30px 30px;
}
@media (min-width: 1440px) {
  .person__info {
    padding-right: 70px;
  }
}
@media (min-width: 1024px) {
  .person__info {
    border-radius: 0 12px 12px 0;
  }
}
@media (min-width: 1920px) {
  .person__info {
    padding-right: 30px;
  }
}

.section__title_team {
  font-size: 30px;
  margin-top: 5px;
}
@media (min-width: 768px) {
  .section__title_team {
    font-size: 38px;
  }
}

.name {
  font-weight: 700;
  font-size: 16px;
  color: #B3B3BA;
  margin: 30px 115px 6px 0;
}

.job-title {
  margin: 0;
  font-size: 14px;
  line-height: 1.57;
  color: #B3B3BA;
}

.slide_bolls {
  display: flex;
  justify-content: center;
}
@media (min-width: 1920px) {
  .slide_bolls_team {
    display: none;
  }
}
.slide_bolls_about {
  display: none;
}
@media (min-width: 1920px) {
  .slide_bolls_about {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

.slide_boll {
  width: 16px;
  height: 16px;
  opacity: 0.2;
  border-radius: 360px;
  border: none;
  background: #24A3FF;
  cursor: pointer;
  margin-right: 15px;
}
.slide_boll_active {
  opacity: 1;
}
.slide_boll:hover {
  opacity: 0.6;
}

#section__conteiner {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1920px) {
  #section__conteiner {
    flex-direction: column-reverse;
  }
}

.clients_title {
  text-transform: uppercase;
  color: #323264;
  margin: 0 0 30px;
  text-align: center;
}

.conteiner_clients {
  display: grid;
  max-height: 720px;
  grid-auto-flow: row;
  overflow-y: auto;
}
.conteiner_clients::-webkit-scrollbar {
  display: none;
}
@media (min-width: 768px) {
  .conteiner_clients {
    display: none;
  }
}

.conteiner_clients_normal {
  display: none;
}
@media (min-width: 768px) {
  .conteiner_clients_normal {
    display: flex;
    flex-wrap: wrap;
    min-width: 768px;
  }
}
@media (min-width: 1920px) {
  .conteiner_clients_normal {
    padding: 0 100px 60px;
  }
}

.client {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 768px) {
  .client {
    width: 33.33%;
  }
}
@media (min-width: 1024px) {
  .client {
    width: 25%;
  }
}
.client img {
  object-fit: cover;
}
.client::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.client_one {
  background: #1C4280;
}
@media (min-width: 1920px) {
  .client_one {
    border-radius: 12px 0 0 0;
  }
}
.client_two {
  background: #143646;
}
.client_three {
  background: #F48B30;
}
.client_four {
  background: #9E4DC3;
}
@media (min-width: 1920px) {
  .client_four {
    border-radius: 0 12px 0 0;
  }
}
.client_five {
  background: #FD9339;
}
.client_six {
  background: #E2E2E4;
}
.client_seven {
  background: #C71C36;
}
.client_eight {
  background: #DCF3F9;
}
.client_nine {
  background: #EAEAEA;
}
@media (min-width: 1920px) {
  .client_nine {
    border-radius: 0 0 0 12px;
  }
}
.client_ten {
  background: #282240;
}
.client_eleven {
  background: #1D4568;
}
.client_twelve {
  background: #000000;
}
@media (min-width: 1920px) {
  .client_twelve {
    border-radius: 0 0 12px 0;
  }
}

@media (min-width: 1920px) {
  #section_publications {
    padding: 0 160px 0;
  }
}

#publications {
  padding: 30px 30px 0;
  background: #F5F5FA;
}
@media (min-width: 768px) {
  #publications {
    padding: 30px 60px 0;
  }
}
@media (min-width: 1920px) {
  #publications {
    padding: 30px 160px 0;
  }
}

.section__title_publication {
  margin-top: 5px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .publications {
    display: grid;
    grid-template-areas: "first . second" "third third third";
  }
}
@media (min-width: 1024px) {
  .publications {
    display: flex;
  }
}

.publication {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1024px) {
  .publication img {
    height: 200px;
  }
}
@media (min-width: 1024px) {
  .publication {
    width: 31.2%;
  }
}
@media (min-width: 1440px) {
  .publication {
    width: 33%;
  }
}
.publication:nth-of-type(1) {
  grid-area: first;
}
@media (min-width: 768px) {
  .publication:nth-of-type(1) {
    margin-right: 30px;
  }
}
.publication:nth-of-type(2) {
  grid-area: second;
}
@media (min-width: 1024px) {
  .publication:nth-of-type(2) {
    margin-right: 30px;
  }
}
.publication:nth-of-type(3) {
  grid-area: third;
}

.publication_img_first {
  background-image: url("../../images/png/publications/cover_1.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 200px;
  border-radius: 12px 12px 0 0;
  background-size: cover;
}
.publication_img_second {
  background-image: url("../../images/png/publications/cover_2.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 200px;
  border-radius: 12px 12px 0 0;
  background-size: cover;
}
.publication_img_third {
  background-image: url("../../images/png/publications/cover_3.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 200px;
  border-radius: 12px 12px 0 0;
  background-size: cover;
}

.publication_info {
  padding: 30px;
  background: #FFFFFF;
  margin-bottom: 30px;
  border-radius: 0 0 8px 8px;
}
@media (min-width: 1024px) {
  .publication_info {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .publication_info_first, .publication_info_second {
    min-height: 314px;
  }
}
@media (min-width: 1024px) {
  .publication_info_first, .publication_info_second {
    min-height: 356px;
  }
}
@media (min-width: 1440px) {
  .publication_info_first, .publication_info_second {
    min-height: 250px;
  }
}
@media (min-width: 1920px) {
  .publication_info_first, .publication_info_second {
    min-height: 272px;
  }
}
.publication_info_last {
  margin: 0;
}
@media (min-width: 1024px) {
  .publication_info_last {
    min-height: 356px;
  }
}
@media (min-width: 1440px) {
  .publication_info_last {
    min-height: 250px;
  }
}
@media (min-width: 1920px) {
  .publication_info_last {
    min-height: 272px;
  }
}

.publication_title {
  color: #24A3FF;
  font-weight: 700;
  font-size: 16px;
}
.publication_title:hover {
  color: #F0145A;
}

.publication_date {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  color: #B3B3BA;
  margin-top: 15px;
}

.publication_line {
  min-width: 255px;
  height: 4px;
  background: #E6E6F0;
  margin: 15px 0;
}
@media (min-width: 1024px) {
  .publication_line {
    min-width: 220px;
  }
}

.publication_text {
  margin: 0;
  line-height: 1.5;
  color: #000000;
}

#footer {
  padding: 30px;
  background-color: #F5F5FA;
}
@media (min-width: 768px) {
  #footer {
    display: grid;
    grid-template-areas: "line line line" "addres . copyrite" "contacts . . ";
    grid-template-columns: auto 1fr auto;
    padding: 30px 60px;
  }
}
@media (min-width: 1920px) {
  #footer {
    padding: 30px 160px;
  }
}

.footer__dot_separator {
  background: #B3B3BA;
}

.footer__line {
  min-width: 315px;
  height: 2px;
  background: #E6E6F0;
  margin-bottom: 30px;
  grid-area: line;
}

.footer__addres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 21px;
  grid-area: addres;
}
@media (min-width: 768px) {
  .footer__addres {
    flex-direction: row;
    justify-content: start;
    margin-bottom: 0;
  }
}

.adress__map {
  display: inline-block;
  font-size: 16px;
}

.map {
  font-size: 12px;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .map {
    margin-top: 0;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: contacts;
}
@media (min-width: 768px) {
  .footer__contacts {
    flex-direction: row;
    justify-content: start;
    margin-top: 21px;
  }
}

.footer__phone {
  font-weight: 700;
  font-size: 16px;
  color: #46466E;
  margin: 10px 0;
}

.email {
  text-transform: lowercase;
}

#copyrite {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  grid-area: copyrite;
}
@media (min-width: 768px) {
  #copyrite {
    margin-top: 0;
    flex-direction: row;
    justify-content: start;
  }
}

.copyrite {
  color: #B3B3BA;
  margin: 0;
}

/*# sourceMappingURL=costomize_main.css.map */
